<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <script src="script.js"></script>
    <title>Bundesliga</title>
</head>
<body>

<div class="select">
    <form class="content" method="get" action="language">
        <h3>Bitte wählen Sie die Sprache</h3>
        <button type="submit" name="language" value="en"><img src="Button-Flagge-Grossbritannien.jpg" width="50"></button>
        <button type="submit" name="language" value="de"><img src="Button-Flagge-Oesterreich.jpg" width="50"></button>
    </form>
</div>

</body>
</html>